@import "tailwindcss";

/* Configure dark mode variant for Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));




/* ---------- Global reset ---------- */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

/* ---------- Theme variables ---------- */
:root {
  --bg-color: #0a1120;
  --text-color: rgba(255, 255, 255, 0.87);
}

.dark {
  --bg-color: #0a1120;
  --text-color: rgba(255, 255, 255, 0.87);
}

/* ---------- Base app styles ---------- */
html {
  background-color: #0a1120;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

/* ---------- Links ---------- */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

/* ---------- Buttons ---------- */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.navigation-button {
  border-color: white;
  color: white;
  padding: 0.6em 1.2em;
  margin: 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #100d1a;
}

.button2{
  background-color: #e45a41;
  color: white;
  padding: 0.6em 1.2em;
  margin: 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-radius: 8px;
  border: 1px solid white;
}

.navigation-button2:hover {
  background-color: #d9534f;
  color: rgb(226, 217, 217);
}

button:hover {
  border-color: #646cff;
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ---------- Headings ---------- */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* ---------- Garage ---------- */
.car-container {
  border: 2px solid #d8d8d8;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  color: white;
}

/* ---------- Light mode ---------- */
@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
